<h1>Posts</h1>
<table border="1">
  <tr>
    <th>userId</th>
    <th>id</th>
    <th>title</th>
    <th>body</th>
    <th>Details</th>
  </tr>
  <tr *ngFor="let post of posts;let i=index">
    <td *ngIf="id===post.userId || id===0">{{post.userId}}</td>
    <td *ngIf="id===post.userId || id===0">{{post.id}}</td>
    <td *ngIf="id===post.userId || id===0">{{post.title}}</td>
    <td *ngIf="id===post.userId || id===0">{{post.body}}</td>
    <td *ngIf="id===post.userId || id===0"><button [routerLink]="['/posts',i+1]">Details</button></td>
  </tr>
</table>
<button (click)="isPopUp = !isPopUp">Add new post</button>


<div class="b-popup" *ngIf="isPopUp">
  <div class="b-popup-content">
    <form>
    <label>Enter your title
      <input placeholder="Title" #title required>
    </label>
    <label>Enter your post
        <input placeholder="Post" #post required>
      </label>
      <button (click)="addNewPost(title.value,post.value)">Add new post</button>
    <input type="button" (click)="isPopUp=!isPopUp" value="Close">
    </form>
  </div>
</div>